<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Acceuil</title>
</head>
<body>
    <h1 class="title">Bienvenue sur le site de gestion des stocks</h1>
    <a href="{{ url_for('bouteilles') }}" ><button>Nouvelle vente bouteilles</button></a>
    <a href="{{ url_for('coupes') }}" ><button>Nouvelle vente coupes</button></a>
    <a href="{{ url_for('bilan') }}" ><button>Faire le bilan d'une journée</button></a>
</body>
</html>